@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
   
    transition: all .2s linear;
}
.home{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  min-height: 100vh;
  align-items: center;
  /* background:url(./imgs/home-bg.jpg) no-repeat; */
  background-size: cover;
  background-position: center;

}

.home .content{
  flex:1 1 40rem;
  padding-top: 6.5rem;
  margin-bottom: 150px;
  
}

.home .image{
  flex:1 1 40rem;
  margin-bottom: 150px;

}

.home .image img{
  width:60%;
  padding:1rem;
  animation:float 3s linear infinite;

  
}

@keyframes float{
  0%, 100%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(3rem);
  }
}

.home .content h3{
  font-size: 5rem;
  color:#333;
}

.home .content p{
  font-size: 1.7rem;
  color:#666;
  padding:1rem 0;
}
.sub-heading{
  text-align: center;
  color:var(--green);
  font-size: 2rem;
  padding-top: 1rem;
}

.heading{
  text-align: center;
  color:var(--black);
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

/* .btn{
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color:#fff;
  background: var(--black);
  border-radius: .5rem;
  cursor: pointer;
  padding:.4rem 1rem;
}

.btn:hover{
  background: var(--green);
  letter-spacing: .1rem;
} */
.about .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  text-align: left;
}


.about .row .image{
  flex:1 1 45rem;
}

.about .row .image img{ 
  width: 70%;
}

.about .row .content{
  flex:1 1 45rem;
}

.about .row .content h3{
  color:var(--black);
  font-size: 4rem;
  padding:.5rem 0;
}

.about .row .content p{
  color:var(--light-color);
  font-size: 1.5rem;
  padding:.5rem 0;
  line-height: 2;
}

.about .row .content .icons-container{
  display: flex;
  gap:1rem;
  flex-wrap: wrap;
  padding:1rem 0;
  margin-top: .5rem;
}

.about .row .content .icons-container .icons{
  background:#eee;
  border-radius: .5rem;
  border:.1rem solid rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1rem;
  flex:1 1 17rem;
  padding:1.5rem 1rem;
}

.about .row .content .icons-container .icons i{
  font-size: 2.5rem;
  color:var(--green);
}

.about .row .content .icons-container .icons span{
  font-size: 1.5rem;
  color:var(--black);
}
section{
  padding:1rem 4%;
}

.speciality .box-container .box{
  flex:1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.3);
  cursor: pointer;
  border-radius: .5rem;
}

.speciality .box-container .box .image{
  height:100%;
  width:100%;
  object-fit: cover;
  position: absolute;
  top:-100%; left:0;
}

.speciality .box-container .box .content{
  text-align: center;
  background:#fff;
  padding:2rem;
}

.speciality .box-container .box .content img{
  margin:1.5rem 0;
}

.speciality .box-container .box .content h3{
  font-size: 2.5rem;
  color:#333;
}

.speciality .box-container .box .content p{
  font-size: 1.6rem;
  color:#666;
  padding:1rem 0;
}

.speciality .box-container .box:hover .image{
  top:0;
}

.speciality .box-container .box:hover .content{
  transform: translateY(100%);
}

.popular .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.popular .box-container .box{
  padding:2rem;
  background:#fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.3);
  border-radius: .5rem;
  text-align: center;
  flex:1 1 30rem;
  position: relative;
}

.popular .box-container .box img{
  height:25rem;
  object-fit: cover;
  width:100%;
  border-radius: .5rem;
}

.popular .box-container .box .price{
  position: absolute;
  top:3rem; left:3rem;
  background:var(--red);
  color:#fff;
  font-size: 2rem;
  padding:.5rem 1rem;
  border-radius: .5rem;
}

.popular .box-container .box h3{
  color:#333;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.popular .box-container .box .stars i{
  color:gold;
  font-size: 1.7rem;
  padding:1rem .1rem;
}

.steps{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  padding:1rem;
}

.steps .box{
  flex:1 1 25rem;
  padding:1rem;
  text-align: center;
  
}

.steps .box img{
  border-radius: 50%;
  border:1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.steps .box h3{
  font-size: 2rem;
  color:#333;
  padding:1rem;
}

.review .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.review .box-container .box{
  text-align: center;
  padding:2rem;
  border:1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
  border-radius: .5rem;
  flex:1 1 30rem;
  background:rgb(255, 255, 255);
  margin-top: 6rem;
}

.review .box-container .box img{
  height: 12rem;
  width:12rem;
  border-radius: 50%;
  border:1rem solid #fff;
  margin-top: -8rem;
  object-fit: cover;
}

.review .box-container .box h3{
  font-size: 2rem;
  color:rgb(0, 0, 0);
  padding:.5rem 0;
}

.review .box-container .box .stars i{
  font-size: 2rem;
  color:var(--red);
  padding:.5rem 0;
}

.review .box-container .box p{
  font-size: 1.5rem;
  color:rgb(0, 0, 0);
  padding:1rem 0;
}
.footer{
  background-color: rgb(231, 230, 230);
}
.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap:1.5rem;
 
}

.footer .box-container .box h3{
  padding:.5rem 0;
  font-size: 2rem;
  color:var(--black);
}

.footer .box-container .box a{
  display: block;
  padding:.3rem 0;
  font-size: 1rem;
  color: black;
}

.footer .box-container .box a:hover{
  color:var(--green);
  text-decoration: underline;
}

.footer .credit{
  text-align: center;
  border-top: .1rem solid rgba(0,0,0,.1);
  font-size: 1rem;
  color:var(--black);
  padding:.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.footer .credit span{
  color:var(--green);
}
