@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif !important;
  background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/asian-food-background-tea-and-chopsticks-space-for-text-natalia-klenova.jpg")


  /* background-image: url(./img/egg.png); */


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  font-size: 15px !important;
}
.flex-container {
  display: flex !important;
}
.btn{
  background-color: red !important;
  color: rgb(191, 189, 189) !important;
}

select{
  box-shadow: none !important;
  border-color: black !important;
  cursor: pointer !important;
}

.fa-plus{

  color: green;
margin:5px;
cursor: pointer;

}
.fa-minus{
color: red;
margin: 5px;
cursor: pointer;
}

.fa-trash{
color: red;
cursor: pointer;
}
.fa-trash:hover {

font-size:20px;

}
.burger{
  width: 80px;
}
